In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [6]:
# Load the dataset
file_path = r"C:\Users\indum\OneDrive\Documents\netflix_dataset.csv" 
data = pd.read_csv(file_path)

In [7]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,05-02-2018,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,06-02-2018,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,07-02-2018,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,08-02-2018,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,09-02-2018,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [8]:
data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [9]:
data.dropna(inplace=True)

In [21]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [12]:
# Drop the original 'Date' column
data.drop(columns=['Date'], inplace=True)

In [13]:
# Define features and target variable
X = data.drop(columns=['Close'])  # Features: all columns except 'Close'
y = data['Close']  # Target: 'Close' price

In [14]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Initialize and train the Decision Tree Regressor
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

In [18]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [19]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'\nMean Squared Error: {mse}')

Mean Squared Error: 1.392944155925712

In [20]:
# Optional: Display feature importances
feature_importances = model.feature_importances_
print("\nFeature importances:")
for feature, importance in zip(X.columns, feature_importances):
    print(f'Feature: {feature}, Importance: {importance}')

Feature importances:
Feature: Open, Importance: 3.1960746108414754e-06
Feature: High, Importance: 0.00015759419934072418
Feature: Low, Importance: 0.07677705248013805
Feature: Adj Close, Importance: 0.92305537781177
Feature: Volume, Importance: 6.779434140211601e-06